body 
{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.wrapper 
{
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;      
}

.wrapper > * 
{
    padding: 10px;
    flex: 1 100%;
}

.header 
{
    padding: 0;
    margin: 0;
    background: tomato;
    border-bottom: 1px solid black;
}

.title
{
    float: left;
    padding:15px 10px 0;
    color:white;
}

.footer 
{
    background: tomato;
    color: white;
    border-top:1px solid black;
    border-bottom:1px solid black;
    /*top:100%;*/
    /*width:100%;*/
    /*position:fixed;*/
    /*margin-top:-40px;*/
}

.stage
{
    text-align: left;
    background: white;
    margin: 0 auto;
}

.sidebar-right 
{
  background: #f2f2f2;
}

@media all and (min-width: 600px) 
{
  .sidebar { flex: 1 auto; }
}
    
@media all and (min-width: 800px) 
{
  .stage          { flex: 3 0px; }
  .stage          { order: 1; }
  .sidebar-right  { order: 2; }
  .footer         { order: 3; }
}

.navigation 
{
    list-style: none;
    margin: 0; 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a 
{
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 15px 7px 15px;
    color: black;
}

.navigation a:hover 
{
    background: deepskyblue;
    color: white;
}

@media all and (max-width: 800px) 
{
    .navigation 
    {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) 
{
    .navigation 
    {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }
  
    .navigation a 
    { 
        text-align: center; 
        padding: 10px;
    }

    .navigation li:last-of-type a 
    {
        border-bottom: none;
    }
}

