.dockerignore
.env
.git
.gitignore
.vs
.vscode
tests
debug
release
x64
process\debug
process\release
process\x64
database\bin
database\obj
*/bin
*/obj
**/.toolstarget
**/*.obj
**/*.pdb
**/*.dbmdl
**/*.jfm
**/*.sdf